* {
  margin: 0;
  padding: 0;
}

.firstColumn,
.secondColumn,
.thirdColumn {
  width: 25rem;
  flex-shrink: 0;
  margin: 0.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.mainContainer {
  background-color: #000000;
  padding: 2rem 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: hidden;

  background-color: #000000;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #000000 18px
    ),
    repeating-linear-gradient(#09090955, #090909);
}

.box11,
.box12,
.box13,
.box14,
.box15 {
  border-radius: 18.789px;
  background: #0f0f0f;
  margin: 0.25rem;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box11 {
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}

.box12 {
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}

.box13 {
  width: 15rem;
  height: 20rem;
  flex-shrink: 0;
  margin-left: 0;
}

.fcSection1 {
  display: flex;
  flex-direction: row;
}

/* fcSection2 */
.box14,
.box15,
.box16 {
  border-radius: 18.789px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0f0f0f;
}

.box14 {
  width: 15rem;
  height: 10rem;
  flex-shrink: 0;
}

.box15 {
  width: 15rem;
  height: 10rem;
  flex-shrink: 0;
}

.box16 {
  width: 10rem;
  height: 20.5rem;
  flex-shrink: 0;
}

.fcSection2 {
  display: flex;
  flex-direction: row;
}

/* Second Column */

.box21,
.box22,
.box23,
.box24 {
  border-radius: 18.789px;
  margin: 0.25rem;
  background: #0f0f0f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box21 {
  width: 25rem;
  height: 10rem;
  flex-shrink: 0;
}

.box22 {
  width: 25rem;
  height: 20rem;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box23 {
  margin-top: 0;
  width: 12.8rem;
  height: 10rem;
  margin-right: 0;
  flex-shrink: 0;
}

.box24 {
  margin-top: 0;
  width: 12rem;
  height: 10rem;
  flex-shrink: 0;
}

.scSection2 {
  display: flex;
  flex-direction: row;
}

/* fcSection3 */

.box31,
.box32,
.box33,
.box34,
.box35 {
  border-radius: 18.789px;
  background: #0f0f0f;
  margin: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box31 {
  width: 10rem;
  height: 20rem;
  flex-shrink: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.box32 {
  width: 15rem;
  height: 20rem;
  margin-top: 0;
  flex-shrink: 0;
}

.tcSection1 {
  display: flex;
  flex-direction: row;
}

.box33 {
  margin-top: 0;
  width: 15rem;
  height: 20rem;
  flex-shrink: 0;
  margin-left: 0;
  margin-right: 0;
}

.box34 {
  margin-top: 0;
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}

.box35 {
  margin-top: 0;
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}

.fcSection3 {
  display: flex;
  flex-direction: row;
}

.tcSection2 {
  display: flex;
  flex-direction: row;
}

.tcs1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxText {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;

  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgba(103, 81, 215, 1) 35%,
    rgba(110, 41, 213, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fileName {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  max-width: 15rem;
  text-align: center;
}

.b11T {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  max-width: 15rem;
  text-align: center;

  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgba(103, 81, 215, 1) 35%,
    rgba(110, 41, 213, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b11M {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.45rem;
  font-weight: 400;
  text-align: center;
  margin-top: -1rem;
}

.software {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.35rem;
  font-weight: 400;
  max-width: 8rem;
  line-height: 1.5rem;
  text-align: center;
}

.b12T {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 15rem;
  text-align: center;

  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgba(103, 81, 215, 1) 35%,
    rgb(128, 74, 207) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b14C {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  max-width: 9rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
}

.b14T {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
  max-width: 15rem;
  text-align: center;

  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgb(122, 103, 212) 35%,
    rgb(128, 74, 207) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b21T {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  max-width: 15rem;
  text-align: center;

  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgb(122, 103, 212) 35%,
    rgb(128, 74, 207) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b21C {
  color: #919191;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center;
}

.b331 {
  margin: 0.25rem;
}

.b331T {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
  max-width: 15rem;
  text-align: center;

  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgb(122, 103, 212) 35%,
    rgb(132, 61, 238) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b331C {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
}

.b34C {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}

.b35T {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  max-width: 15rem;
  text-align: center;

  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgb(122, 103, 212) 35%,
    rgb(132, 61, 238) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b35C {
  color: #919191;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}

.b23T {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  max-width: 15rem;
  text-align: center;
  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgb(122, 103, 212) 35%,
    rgb(132, 61, 238) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b23C {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}

.b131 {
  margin: 1rem;
}

.b131T {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  max-width: 15rem;
  text-align: center;

  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgb(122, 103, 212) 35%,
    rgb(132, 61, 238) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b131C {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-align: center;
}

.box24i {
  width: 8rem;
}

.b32T {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.75rem;
  margin-bottom: 0.75rem;
  max-width: 15rem;
  text-align: center;

  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgb(122, 103, 212) 35%,
    rgb(132, 61, 238) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b32C {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 2.75rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
}

.b31T {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: 0.75rem;
  max-width: 15rem;
  text-align: center;

  background: rgb(103, 81, 215);
  background: linear-gradient(
    90deg,
    rgb(122, 103, 212) 35%,
    rgb(132, 61, 238) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.b31C {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  margin-top: -1rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
}
