* {
  margin: 0;
  padding: 0;
}

.firstColumn,
.secondColumn,
.thirdColumn {
  width: 25rem;
  flex-shrink: 0;
  margin: 0.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

.mainContainer {
  background-color: #000000;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.box11,
.box12,
.box13,
.box14,
.box15 {
  border-radius: 18.789px;
  background: #1b1b1b;
  margin: 0.25rem;
  margin-bottom: 0;
}

.box11 {
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}

.box12 {
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}

.box13 {
  width: 15rem;
  height: 20rem;
  flex-shrink: 0;
  margin-left: 0;
}

.fcSection1 {
  display: flex;
  flex-direction: row;
}

/* fcSection2 */
.box14,
.box15,
.box16 {
  border-radius: 18.789px;

  background: #1b1b1b;
}

.box14 {
  width: 15rem;
  height: 10rem;
  flex-shrink: 0;
}

.box15 {
  width: 15rem;
  height: 10rem;
  flex-shrink: 0;
}

.box16 {
  width: 10rem;
  height: 20.5rem;
  flex-shrink: 0;
}

.fcSection2 {
  display: flex;
  flex-direction: row;
}

/* Second Column */

.box21,
.box22,
.box23,
.box24 {
  border-radius: 18.789px;
  margin: 0.25rem;
  background: #1b1b1b;
}

.box21 {
  width: 25rem;
  height: 10rem;
  flex-shrink: 0;
}

.box22 {
  width: 25rem;
  height: 20rem;
  flex-shrink: 0;
}

.box23 {
  margin-top: 0;
  width: 12.8rem;
  height: 10rem;
  margin-right: 0;
  flex-shrink: 0;
}

.box24 {
  margin-top: 0;
  width: 12rem;
  height: 10rem;
  flex-shrink: 0;
}

.scSection2 {
  display: flex;
  flex-direction: row;
}

/* fcSection3 */

.box31,
.box32,
.box33,
.box34,
.box35 {
  border-radius: 18.789px;
  background: #1b1b1b;
  margin: 0.25rem;
}

.box31 {
  width: 10rem;
  height: 20rem;
  flex-shrink: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.box32 {
  width: 15rem;
  height: 20rem;
  margin-top: 0;
  flex-shrink: 0;
}

.tcSection1 {
  display: flex;
  flex-direction: row;
}

.box33 {
  margin-top: 0;
  width: 15rem;
  height: 20rem;
  flex-shrink: 0;
  margin-left: 0;
  margin-right: 0;
}

.box34 {
  margin-top: 0;
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}

.box35 {
  margin-top: 0;
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
}

.fcSection3 {
  display: flex;
  flex-direction: row;
}

.tcSection2 {
  display: flex;
  flex-direction: row;
}

.tcs1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
